<h1>Корзина</h1>

<div id="cart">
{{#if goodses.length}}
<table class="uk-table uk-table-divider uk-table-justify">
  <thead>
    <tr>
      <th>Название</th>
      <th>Количество</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>

    {{#each goodses}}
    <tr>
      <td>{{title}}</td>
      <td>{{count}}</td>
      <td class="price">{{price}}</td>
      <td class="price mult">{{mult count price}}</td>
      <td>
        <button class="uk-button-small uk-button-danger ajax-remove" data-id="{{id}}">Удалить</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="uk-margin">
  <strong>Цена:</strong><span class="price sum">{{sumPrice}}</span>
</div>
{{else}}
<p>Корзина пуста</p>
{{/if}}
</div>